@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.flex {
    display: flex;
}

header {
    padding: 25px 10px 80px 50px;
    padding-bottom: 5px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

header > .tela-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: 200px;
    margin-right: 50px;
}


header a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: #00fff2;
    transform: scale(1.10);
    transition: 0.2s;
}

header nav ul {
    list-style-type: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 0 50px;
}

section.interface-principal {
    padding: 50px 5%;
}

section.interface-principal.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.inicio-site > h1{
    color: #00fff2;
    font-size: 50px;
    line-height: 68px;
    padding-top: 200px;
}

.inicio-site > p {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px 0px;
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 30px;
}


.btn-social > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: transparent;
    border: 2px solid #00fff2;
    border-radius: 50%;
    font-size: 40px;
    color: #00fff2;
    text-decoration: none;
    margin: 0 25px 0px 30px;
}

.btn-social > a:hover {
    transform: scale(1.10);
    transition: 0.2s;
}

.perfil-img-nome > img{
    padding-top: 200px;
}

.perfil-img-nome > p.descricao-perfil {
    color: #ffffff;
    font-size: 22px;
    margin-left: 75px;
    padding-top: 10px;
    border-right: 4px black, solid;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation: digitando-nome 2s steps(21), piscando-letras 0.8s;
}

/*sobre mim*/

section.sobre-mim {
    padding: 32px 5%;
    padding-top: 80px;
}

section.sobre-mim.flex {
    align-items: center;
    justify-content: center;   
}

.informacoes {
    margin: 80px 80px;
}

.biografia {
    max-width: 60%;
}

.biografia > h2 {
    color: #00fff2;
    text-align: justify;
}

.biografia > p {
    font-size: 20px;
    text-align: justify;
    margin: 30px 0px;
    padding-right: 100px;
}

.habilidades {
    font-size: 20px;
    max-width: 35%;
    padding-left: 12vh;
    padding-top: 70px;
}

.habilidades > h3 {
    color: #00fff2;
    padding-bottom: 10px;
}

.soft-skills {
    font-size: 20px;
    max-width: 25%;
    padding-left: 15vh;
    padding-top: 70px;
}

.soft-skills > h3 {
    color: #00fff2;
    padding-bottom: 10px;
}

/*projetos*/

section.projetos .flex {
    justify-content: space-around;
    margin-left: 100px;
    padding-bottom: 150px;
}

.amostras > h2 {
    color: #00fff2;
    padding-bottom: 50px;
    padding-left: 180px;
}

.container-descricao {
    text-align: justify;
    display: inline-block;
    width: 100%;
    padding-right: 120px;
}

.container-descricao > p {
    font-size: 20px;
    padding-right: 30px;
    text-align: justify;
    padding-top: 35px;
}

.img-port {
    width: 500px;
    height: 500px;
    padding-left: 350px;
    background-color: #00fff2;
}

.img-port:hover {
    transform: scale(1.10);
    transition: 0.2s;
}

/*formacoes*/

 section .formacoes .educacao {
    margin-left: 150px;
}

section.formacoes h2 {
    color: #00fff2;
    padding-bottom: 20px;
}

.instituicoes {
    font-size: 20px;
    padding-left: 150px;
    padding-right: 500px;
}

.certificacoes {
    font-size: 20px;
}

/* blog */

section.blog {
    max-width: 90%;
    margin: 120px;
    padding-top: 150px;
}

.artigo {
    padding: 0px;
}

.artigo > h2 {
    color: #00fff2;
    padding-bottom:40px;
}

.artigo > h3 {
    color: #00fff2;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
    padding-bottom: 20px;
}

.artigo > p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-left: 100px;
}

/*Formulario de contato*/

section.formulario-contato {
    padding: 80px 4% 200px;
}


h2.titulo {
    color: #00fff2;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form input {
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #69666646;
    border-color: #00fff2;
    outline: none;
    padding: 20px 15px;
    border-radius: 20px;
}

textarea {
    resize: none;
    max-height: 200px;
    width: 100%;
    font-size: 18px;
    color: white;
    background-color: #69666646;
    border-color: #00fff2;
    outline: none;
    padding: 20px 15px;
    border-radius: 20px;
}

form.btn-enviar {
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

form .btn-enviar input {
    width: 300px;
    background-color: #00fff2;
    color: #000000;
    font-weight: 300;
    cursor: pointer;
    margin-left: auto; /* Centraliza à direita */
    margin-right: auto; /* Centraliza à esquerda */
    display: block;
}

.btn-enviar:hover {
    transform: scale(1.10);
    transition: 0.2s;
}

/*rodapé*/

footer {
    padding: 25px 4%;
    box-shadow: 0 0 0 5px #00fff2;
}

footer .flex {
    justify-content: space-between;
}

footer .flex .informaoes-footer {
    text-align: center; 
    font-size: 18px;
    padding-left: 230px;
}

.logo {
    font-size: 50px;
    color: #00fff2;
    text-align: center;
    padding-left: 50px;
}

@keyframes digitando-nome {
    from {
        width: 0;
    }
}

@keyframes piscando-letras {
    50% {
        border-color: transparent;
    }
}

@media screen and (max-width: 1745px) {

    body {
        padding-left: 10;
        padding-right: 10px;
        font-size: 16px;
        text-align: center;
    }

    .flex {
        flex-direction: column;
        
    }

    .interface-principal .flex {
        flex-direction: column-reverse;
    }

    .menu {
        display: none;
    }
}