@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.tela-principal {
    max-width: 1280px;
    margin-left: 50px;
    margin-right: 50px;
}

.flex {
    display: flex;
}

header {
    padding-left: 25px;
}

header > .tela-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: #00fff2;
    transform: scale(1.10);
    transition: 0.2s;
}

header nav ul {
    list-style-type: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 0 50px;
}

section.interface-principal {
    padding: 50px 5%;
}

section.interface-principal.flex {
    align-items: center;
    justify-content: center;
}

.inicio-site > h1{
    color: #00fff2;
    font-size: 50px;
    line-height: 68px;
}

.inicio-site > p {
    color: white;
    font-size: 20px;
    margin: 40px 0px;
}

.btn-contato {
    color: #00fff2;
    background-color: black;
    border: 2px solid #00fff2;
    padding: 10px 35px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato:hover {
    color: black;
    background-color: #00fff2;
    transform: scale(1.10);
    transition: 0.2s;
}